---
interface Props {
  pageNumber: string;
}
const { pageNumber } = Astro.props;
const url: string = Astro.url.pathname;
const route = url.substring(0, url.lastIndexOf('/')+1);
const nextPage: string = `${route}${1 + parseInt(pageNumber)}`;
const prevPage: string = `${route}${pageNumber - 1}`;
console.log(nextPage);
---

<div>

  <div class='flex join w-full justify-center mt-4'>
    <a href={`${prevPage}`}>
      <button class='join-item btn'>«</button>
    </a>
    <button class='join-item btn'>{pageNumber}</button>
    <a href={`${nextPage}`}>
      <button class='join-item btn'>»</button>
    </a>
  </div>
</div>
