---
import { Product } from '../types/types';
import StarIcon from './icons/StarIcon.astro';
import { Image } from "astro:assets";
interface Props {
  product: Product;
}
const { product } = Astro.props;
---

<div class='mt-8'>
  <div class='relative'>
    <a href={`/products/${product.id}`}>
      <Image
        src={product.thumbnail}
        alt={`${product.title} Thumbnail`}
        loading='lazy'
        class='object-cover w-[250px] h-[250px] hover:opacity-75 transition ease-in-out duration-150 hover:scale-110'
        id={`product-${product.id}`}
        width='250'
        height='250'
      />
      <Image
        src={product.images[0]}
        alt={`${product.title} Thumbnail`}
        loading='lazy'
        class='object-cover w-[250px] h-[250px] absolute top-0 left-0 opacity-0 transition-opacity duration-300 transform hover:opacity-100'
        id={`product-hover-${product.id}`}
        width='250'
        height='250'
      />
    </a>
  </div>
  <div class='mt-2'>
    <div class='w-12'></div>
    <a href={`/products/${product.id}`} class='text-lg mt-2 hover:text-gray-500'
    >{product.title}</a>
    <div class='flex items-center text-gray-600 text-sm mt-1'>
      <StarIcon />
      <span class='ml-1'>{product.rating}</span>
      <span class='mx-2'>|</span>
      <span>${product.price}</span>
      <span class='mx-2'>|</span>
      <span class='badge'>{product.category}</span>
    </div>
  </div>
</div>
